 <!-- Product section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{productdata.ProductImage}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{productdata.id}}</div>
                <h1 class="display-5 fw-bolder">{{productdata.productName}}</h1>
                <div class="fs-5 mb-5">
                    <p class="">Price: {{productdata.Price}} Rs</p>
                    <p class="">Rating: {{productdata.rating}}</p>
                    <p class="">Review: {{productdata.review}}</p>
                    
                </div>
                <p class="lead">{{productdata.Description}}</p>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        <a style="text-decoration:none; color:black" href="product/edit-product/{{productdata.id}}">Edit</a>
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0 ms-4" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        <a style="text-decoration:none; color:black" href="product/delete-product/{{productdata.id}}">Delete</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
